@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html,body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: black;
}

section{
    /* flex-grow: 1; */
    min-width: 250px;
    max-width: 50vw;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(40px);
    /* border: 2px solid rgb(0, 110, 255); */
    /* border-radius: 20px; */
    padding: 50px;
}

h1{
    font-size: 40px;
    text-align: center;
}

p{
    font-size: 15px;
}
.logo{
    width: 100px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}

label{
    font-size: 18px!important;
    margin-bottom: 25px;
}

@media only screen and (max-width: 900px){
    .logo{
        width: 100px!important;
        padding: 20px!important;
    }
    
    h1{
        font-size: 30px!important;
    }
    section{
        max-width: 80vw;
        margin: 20px!important;
        padding: 20px;
    }

}

@media only screen and (max-width: 500px){
    h1{
        font-size: 20px!important;
    }
    label{
        font-size: 15px!important;
    }
}